# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db

# OS
Thumbs.db
desktop.ini

# Uploads
uploads/

# Backup files
*.bak

# ÁÙÊ±À¬»øÎÄ¼þ
*.tmp
.~lock.*
